.card-team-box {
  background-color: var(--posy);
  padding: 2rem;
  max-width: 14rem;
  margin: auto;
  border-radius: 1rem;
  color: white;

  .card-team {
    display: flex;
    flex-direction: column;
    align-items: center;

    .team-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      height: auto;
    }

    .team-img > img {
      width: 94%;
    }

    .button-card {
      width: 94%;
      height: 2rem;
      font-weight: bold;
    }

    .button-card:hover {
      background-color: darkred;
      color: white;
      transition: 0.3s;
    }
  }
}
